body {
  background-color: black;
}

/* Estilos da barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar nav ul li {
  padding: 10px 0;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  font-family: "DM Sants", sans-serif;
}

/* Estilos da seção de navegação */
.sidebar__navigation {
  background-color: #121212;
  border-radius: 12px;
  padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
  background-color: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
  width: 100px;
}

/* Estilos da seção da biblioteca */
.library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 8px;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.library .library__content {
  display: flex;
  justify-content: space-between;
}

.library .library__button {
  display: flex;
  margin-right: 10px;
  color: #b3b3b3;
  background-color: transparent;
  border: 0px;
  font-size: 14px;
  font-weight: 700;
  font-family: "DM Sants", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
}

.library .library__content .library__content__icons {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.library .library__button .fa {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
  padding-right: 8px;
}

.library .library__content .fa-plus {
  margin: 24px 10px;
}

.library .library__content .fa-arrow-right {
  margin: 24px 10px;
}

/* Estilos da seção de playlists */
.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0;
  padding: 16px 20px;
  border-radius: 10px;
}

.section-playlist .section-playlist__content {
  display: flex;
  flex-direction: column;
}

.section-playlist__content .text {
  font-family: "DM Sants", sans-serif;
  padding-bottom: 14px;
  color: #fff;
}

.section-playlist__content .title {
  font-weight: 700;
}

.section-playlist__content .subtitle {
  font-weight: 500;
  font-size: 12px;
}

.section-playlist__content .section-playlist__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: none;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  font-family: "DM Sants", sans-serif;
  padding: 10px;
  margin-top: 12px;
  border: 0;
  width: 113px;
}

/* Estilos da seção de cookies */
.sidebar .cookies {
  margin: 25px 20px;
}

.sidebar .cookies a {
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 500;
  font-size: 11px;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
}

/* Estilos da seção de idiomas */
.sidebar .languages .languages__button {
  align-items: center;
  background-color: transparent;
  border: 1px solid #878787;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 170px;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
}

/* Estilos do rodapé */
.footer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background-image: linear-gradient(to right, #c756b8, #4279a6);
}

.footer .footer__text {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.footer .footer__text .text {
  font-family: "DM Sants", sans-serif;
  color: #fff;
  margin: 15px 0px 0px 40px;
}

.footer .footer__text .title {
  font-weight: 700;
  font-size: 20px;
}

.footer .footer__text .subtitle {
  font-weight: 500;
  font-size: 17px;
}

.footer .footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.footer .footer__button .button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 700;
  font-family: "DM Sants", sans-serif;
  width: 220px;
  padding: 18px;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.footer .footer__button .button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}